@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.root{
  font-family: 'Press Start 2P', cursive;
  font-size: large;
  border-style: solid;
  width: 60%;
  margin: 5% 20%;
  text-align: center;
  color: lawngreen;
}

section{
  border: 10px solid rgb(211, 15, 97);
  height: 30rem;
  
  margin:2rem;
}
table{
  text-align: center;
  border-style: solid;
   margin: 5% auto;
   width: 90%;
}
tr td {
  border-bottom: 1px solid black;
  margin: 0;
  padding: 0;
  height: 5rem;
  border-left-width: 0;
  color: rgb(34, 51, 128);
}
h2,h1{
  margin: 3% auto;
  color: rgb(58, 197, 197);
}
button{
  background: rgb(211, 15, 97);
  border-style: none;
  border-radius: 5px;
  height: 2rem;
  margin-top: 1rem;
  color: aliceblue;
  font-size: larger;
}
button:hover{
  background: rgb(223, 215, 102);
  color: rgb(211, 15, 97);
}

/* td:first of type {
  border-bottom: solid;

} */